<footer>
  <div class="social-icons">

    {% if site.linkedin %}
    <a href="{{ site.linkedin }}" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
    {% endif %}
    {% if site.google_scholar %}
    <a href="{{ site.google_scholar}}" target="_blank">
      <i class="ai ai-google-scholar" style="font-size:1.6rem"></i>
    </a>
    {% endif %}
    {% if site.github_link %}
    <a href="{{ site.github_link }}" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    {% endif %}
    {% if site.orcid %}
    <a href="{{ site.orcid }}" target="_blank">
      <i class="fab fa-orcid"></i>
    </a>
    {% endif %}
  </div>
  <br>
  <br>
  <br>
</footer>